* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

/*HEADER*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-img {
  display:inline-block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__logo-img-mobile {
  display: none;
}
.header__nav {
  display: flex;
  gap: 20px;
  margin-right: auto;
  padding-left: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.header__nav-link {
  text-decoration: none;
  color: #fff;
}
.header__nav-link:hover {
  color:  #2961AB;
  cursor: pointer;
}
.header__buttons {
  display: flex;
  gap: 10px;
}
.header__nav-text {
  display: none;
}
.header__button {
  border: 1px solid #fff;
  border-radius: 27px;
  padding: 8px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s;
}
.header__button--primary {
  background-color: transparent;
  color: #fff;
}
.header__button:hover {
  background-color: #fff;
  color:  #2961AB;
}
.header__burger {
  display: none;
}

/*HEADER*/


/*СЕКЦИЯ HERO*/
.hero {
  overflow: hidden;
  background: url('./img/bg_header.jpg') ;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 180px 20px 120px;
  position: relative;
}
.hero__title {
  position: relative;
  font-weight: 700;
  font-size: 77px;
  line-height: 120%;
  margin-bottom: 53px;
}
.hero__subtitle {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 27px;
}
.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.hero__button {
  line-height: 1;
  border-radius: 36px;
  padding: 22px 16px;
  font-weight: 500;
  font-size: 24px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}
.hero__button:hover {
  background-color: #fff;
  color:  #2961AB;
}
/*СЕКЦИЯ HERO*/


/*СЕКЦИЯ INSERT*/
.section-insert {
  position: relative;
  padding: 112px 0px;
  text-align: center;
}
.section-insert__content {
  display: flex;
  justify-content: space-between;
}
.section-white {
  z-index: 9;
  border-radius: 25px;
  margin-top: -25px;
  margin-bottom: -25px;
  background-color: #fff;
}
.section-insert__title {
  line-height: 1.2;
  font-weight: 700;
  font-size: 56px;
  color: #333;
  flex-basis: 50%;
  text-align: left;
}
.section-insert__title b {
  color: #67B3A5;
}
.section-insert__description {
  color: #555;
  flex-basis: 50%;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
}
/*СЕКЦИЯ INSERT*/


/*СЕКЦИЯ ABOUT*/
.section-about {
  background: url('./img/bg_about.jpg') no-repeat center center;
  background-size: cover;

  text-align: center;
  padding: 90px 0px 67px;
  position: relative;
}
.section-about__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}
.cards__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card {
  flex: 1;
  padding: 20px;
  text-align: center;
}
.card__image {
  font-size: 2rem;
  color: #0d6efd;
  margin-bottom: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.card__image:hover {
  transform: scale(1.2);
  color: #0056b3;
}
.card__title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 24px;
}
.card__title b {
  color: #67B3A5;
}
.card__text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 32px;
}

.card__link {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  color: #fff;
}
.card__link:after {
  content: '';
  position: absolute;
  display: block;
  top: 23%;
  left: 100%;
  background: url("./img/arrow_link.svg") no-repeat;
  margin: 0 8px;
  width: 100%;
  height: 100%;
}
/*СЕКЦИЯ ABOUT*/


/*СЕКЦИЯ STEPS*/
.section-steps{
  text-align: center;
  padding: 87px 0px 106px;
  position: relative;
  color: #000000;
}
.section-steps__sub-title {
  font-weight: 600;
  font-size: 16px;
}
.section-steps__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.section-steps__title b {
  color: #67B3A5;
}
.section-steps__description {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 80px;
}
.card__title--second {
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.card__text--second {
  color: #000000;
}
.section-steps__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 50px;
}
.section-steps__button {
  border-radius: 27px;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #67B3A5;
  color: #67B3A5;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}
.section-steps__button:hover {
  background-color: #67B3A5;
  color:  #fff;
}
/*СЕКЦИЯ STEPS*/


/*СЕКЦИЯ PRISING*/
.section-pricing{
  background: url('./img/bg_pricing.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 55px 0px 73px;
  position: relative;
  color: #fff;
}
.section-pricing__sub-title {
  font-weight: 600;
  font-size: 16px;

}
.section-pricing__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.section-pricing__description {
  font-weight: 500;
  font-size: 18px;
}
.section-pricing__buttons {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 45px;
}
.section-pricing__button {
  border-radius: 22px 0 0 22px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}
.section-pricing__button--secondary {
  border-radius: 0 22px 22px 0;
}
.section-pricing__button:hover {
  background-color:  #fff;
  color: #67B3A5;
}
.pricing-cards__content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.pricing-card {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  color: #67B3A5;
  background: #FFFFFF;
  flex: 1;
  padding:32px;
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.pricing-card:hover {
  box-shadow: 0 4px 20px 10px rgba(41, 97, 171, 0.5);
}
.pricing-card__title {
  font-weight: 700;
  font-size: 20px;
}
.pricing-card__price {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
  margin-bottom:35px;
  margin-top: 10px;
}
.pricing-card__list {
  margin-bottom: 16px;
  list-style-type: none;
}
.pricing-card__item {
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  text-align: left;
  position: relative;
}
.pricing-card__item:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: url("./img/check_arrow.svg") no-repeat;
  width: 100%;
  height: 100%;
}
.pricing-card__button {
  text-decoration: none;
  width: 100%;
  border: 1px solid #67B3A5;
  border-radius: 100px;
  padding: 12px 24px;
  color: #67B3A5;
  font-weight: 400;
  font-size: 16px;
  margin-top:auto;
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.pricing-card__button:hover {
  background: #67B3A5;
  color:  #fff;
}


.pricing-dots {
  align-items: center;
  display: none;
  right: 44%;
  top: 102%;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.pricing-dot {
  width: 10px;
  height: 10px;
  background: #d9d9d9;;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.pricing-dot.active {
  background: #fff;
  width: 14px;
  height: 14px;
}
/*СЕКЦИЯ PRISING*/

/*СЕКЦИЯ SLIDER*/
.section-slider {
  text-align: center;
  padding: 112px 0px 112px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-slider .container {
  position: relative;
}
.slider-container {
  display: flex;
  flex-direction: row;
  width: 834px;
  height: 319px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #2961AB;
}
.slider-images {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: transform 0.5s ease-in-out;
}
.slider-images img {
  border-radius: 0 25px 25px 0;
  width: 320px;
  height:320px;
  object-fit: cover;
}
.slider-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex: 1;
  /*overflow: hidden;*/
}
.slider-texts div {
  display: none;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.5s ease-in-out;
  position: relative;
}
.slider-texts div.active {
  display: flex;
}
.slider-texts h2 {
  position: absolute;
  left: -358px;
  bottom: 0px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  line-height: 1;
}
.slider-texts h4 {
  left: -365px;
  bottom: -50px;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.slider-texts p {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 1.6;
  margin-left: -55px;
  margin-bottom: 32px;
}
.slider-texts img {
  margin-left: 100px;
  width: 117px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dots {
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  background: #94b0d5;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}
.dot.active {
  background: #2961AB;
  width: 14px;
  height: 14px;
}


/*СЕКЦИЯ SLIDER*/


/*СЕКЦИЯ QUESTION*/
.section-question {
  background: url('./img/bg_question.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 120px 0px 120px;
  position: relative;
  color: #fff;
}
.section-question__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-question__text-block {
  display: flex;
  flex-direction: column;
}
.section-question__text-block {
  flex-basis: 50%;
  text-align: left;
}
.section-question__title {
  font-weight: 700;
  font-size: 48px;
}
.section-question__title b {
  color: #67B3A5;
}
.section-question__description {
  font-weight: 500;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.section-question__img-block {
  text-align: right;
  flex-basis: 50%;
  line-height: 0;
}
.section-question__img {
  border-radius: 25px;
  width: 100%;
}
.section-question__buttons {
  display: flex;
  gap: 16px;
}
.section-question__button {
  border-radius: 27px;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}
.section-question__button:hover {
  background-color: #fff;
  color: #2961AB;
}
/*СЕКЦИЯ QUESTION*/


/*FOOTER*/
.footer {
  position: relative;
  margin-top: -25px;
  background-color: #fff;
  width: 100%;
  border-radius: 25px 25px 0 0;
  padding: 108px 0 60px;
  color: #000000
}

.footer__container {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer__logo-img {
  display:inline-block;
  width: 150px;

}

.footer__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__brand {
  flex: 2;
  max-width: 864px;
}

.footer__brand-title {
  font-weight: 700;
  font-size: 56px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.footer__brand-title b {
  color:#67B3A5;
}
.footer__brand-text {
  font-weight: 500;
  font-size: 16px;
}
.footer__buttons {
  justify-content: flex-start;
  margin-top: 32px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  margin-top: 10px;
}
.footer__column-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__link {
  font-weight: 600;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #0d6efd;
}


.footer__social {
  display: flex;
  gap: 12px;
  margin-top: auto;
  list-style: none;
  margin-top: auto;
  justify-content: flex-end;
}

.footer__social li {
  display: inline-block;
}



.footer__social-icon {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.footer__social-icon:hover {
  filter: invert(42%) sepia(67%) saturate(658%) hue-rotate(180deg) brightness(85%) contrast(92%);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__policy-link {
  text-decoration: underline;
  color: #000;
  transition: color 0.3s;
  margin-left: 24px;
}

.footer__policy-link:hover {
  color: #0d6efd;
}



/*СТРАНИЦА REGISTRATION*/
/*СЕКЦИЯ REGISTRATION*/
.section-registration {
  overflow: hidden;
  background: #2961AB;
  background-size: cover;
  text-align: center;
  padding: 200px 0px 66px;
  position: relative;
  color: #fff;


}

.section-registration svg {
  position: absolute;
  animation: scale-shape 5s infinite alternate ease-in-out;
}


.ellipse-small {
  top: 20%;
  left: 20%;
  width: 30%;
  height: 30%;
  animation-delay: 0s;
  animation: scale-shape 2s infinite alternate ease-in-out;
}

.circle {
  top: 77%;
  left: 4%;
  width: 100%;
  height: 35%;
  animation-delay: 2.5s;
}

.ellipse-center {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  animation-delay: 2.5s;

}

.ellipse-large {
  top: -3%;
  left: 33%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
  animation-delay: 1s;
}
.ellipse-large-top {
   top: -18%;
   left: 53%;
   width: 50%;
   height: 50%;
   transform: translateX(-50%);
   animation-delay: 1s;
 }
.ellipse-large-bot {
  top: 66%;
  left: -19%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
  animation-delay: 1s;
}

@keyframes scale-shape {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}







.section-registration__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-registration__text-block {
  display: flex;
  flex-direction: column;
}
.section-registration__text-block {
  max-width: 616px;
  flex-basis: 50%;
  text-align: left;
}
.section-registration__title {
  font-weight: 700;
  font-size: 48px;
}
.section-registration__title b {
  color: #67B3A5;
}
.section-registration__description {
  font-weight: 500;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.section-registration__img-block {
  text-align: left;
  flex-basis: 50%;
}
.section-registration__img {
  position: relative;
  border-radius: 25px;
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
  width: 100%;
}

.registration__form {
  display: flex;
  align-items: center;
  margin-top: 15px;

}

.registration__input {
  cursor: pointer;
  flex: 0.7;
  padding: 12px 12px;
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}


.registration__button {
  cursor: pointer;
  border-radius: 48px;
  padding: 13px 12px;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid #67B3A5;
   color: #fff;
  text-decoration: none;
  background-color: #67B3A5;
  transition: 0.3s;
  margin-left: -23px;
}
.registration__button:hover {
  background-color: #fff;
  color: #67B3A5;
  box-shadow: 0 0 50px 10px rgba(103, 179, 165, 0.7);
}

.registration__policy {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
}

.section-insert__description.section-insert__description--text-left {
  text-align: left;
}

.section-registration__warning {
  padding: 7px 19px;
  color: #FFFFFF;
  background: #000;
  border-radius: 25px;
  font-weight: 400;
  font-size: 16px;
  max-width: 315px;
  margin: 52px auto 0;

}

/*Секция PROTECT*/




.section-protect-ellipse-large {
  top: -3%;
  left: 33%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
  animation-delay: 1s;
  position: absolute;
  animation: scale-shape 5s infinite alternate ease-in-out;
}
.section-protect-ellipse-large-top{
  top: -18%;
  left: 53%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
  animation-delay: 1s;
  position: absolute;
  animation: scale-shape 5s infinite alternate ease-in-out;
}
.section-protect-ellipse-large-bot {
  top: 66%;
  left: -19%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%);
  animation-delay: 1s;
  position: absolute;
  animation: scale-shape 5s infinite alternate ease-in-out;
}

@keyframes scale-shape {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.section-protect {
  background: #2961AB;
  background-size: cover;
  text-align: center;
  padding: 114px 0px 90px;
  position: relative;
  color: #fff;
}

.section-protect__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-protect__text-block {
  display: flex;
flex-direction: column;
  flex-basis: 65%;
}

.section-protect__img-block {
  text-align: left;
  flex-basis: 35%;
}
.section-protect__img-block svg {
  width: 100%;
}

.section-protect__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 30px;
}
.section-protect__title b{
  color: #67B3A5;
}
.section-protect__description {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
}
/*Секция PROTECT*/
/*Секция REGISTRATION QUESTION*/
.registration.section-question {
  border-radius: 25px 25px 0 0;
  background: #fff;
  margin-top: -25px;
}
.section-question__content--blue-bg {
  background: #2961AB;
  border-radius: 25px;

}
.registration .container.section-question__content.section-question__content--blue-bg {
  padding-right: 0;
}
/*Секция REGISTRATION QUESTION*/

/*СТРАНИЦА SERVICES*/

.hero svg {
  position: absolute;
  animation: scale-shape 5s infinite alternate ease-in-out;
}
/*СЕКЦИЯ INSERT-SERVICES*/
.section-insert-services {
  position: relative;
  padding: 112px 0px;
  border-radius: 25px;
  margin-top: -25px;
  background-color: #fff;
}
.section-insert-services__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.section-insert-services__text-block {
  flex-basis: 50%;
  padding: 0 15px;
}
.section-insert-services__img-block {
  flex-basis: 50%;
}

.section-insert-services__img {
  border-radius: 25px;
  width: 100%;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);

}
.section-insert-services__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #000;
  flex-basis: 50%;
  text-align: left;
}
.section-insert-services__title b {
  color: #67B3A5;
}
.section-insert-services__subtitle {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 30px;
}
.section-insert-services__description-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.section-insert-services__description-wrapper h4 {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  margin-bottom: 16px;

}
.section-insert-services__description-wrapper h4 b {
  color: #67B3A5;
}

.section-insert-services__description-wrapper p {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
/*СЕКЦИЯ INSERT-SERVICES*/
/*СЕКЦИЯ EXPERT-DOCUMENT*/
.section-expert-document {
  background: #fff;
  padding-top: 112px;
  padding-bottom: 112px;
}
.section-expert-document__block {
  background: url("img/bg_expert-document.jpg");
  padding: 116px 127px;
  border-radius: 25px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;

}
.section-expert-document__title {
  font-weight: 700;
  font-size: 77px;
  line-height: 120%;
  margin-bottom: 24px;
}
.section-expert-document__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.section-insert-services-bottom {
  background: #fff;
}

/*СЕКЦИЯ INSERT-SERVICES-BOTTOM*/


.section-insert-services-bottom {
  z-index: 99;
  position: relative;
  padding: 112px 0;
  border-radius: 25px;
  margin-bottom: -25px;
  background-color: #fff;
}
.section-insert-services-bottom__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.section-insert-services-bottom__img {
  border-radius: 25px;
  width: 100%;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);

}
.section-insert-services-bottom__text-block {
  flex-basis: 50%;
  padding: 0 15px;
}
.section-insert-services-bottom__img-block {
  flex-basis: 50%;
}


.section-insert-services-bottom__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #000;
  flex-basis: 50%;
  text-align: right;
}
.section-insert-services-bottom__title b {
  color: #67B3A5;
}
.section-insert-services-bottom__description {
  color: #000;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: right;
  margin-top: 24px;
  margin-bottom: 30px;
}
/*СЕКЦИЯ INSERT-SERVICES-BOTTOM*/


/*СЕКЦИЯ PLANS*/
.section-plans{
  overflow: hidden;
  background: #2961AB;
  background-size: cover;
  text-align: center;
  padding: 55px 0px 73px;
  position: relative;
  color: #fff;
}

.section-plans svg {
  position: absolute;
  animation: scale-shape 5s infinite alternate ease-in-out;
}
.section-plans__sub-title {
  font-weight: 600;
  font-size: 16px;
  position: relative;

}
.section-plans__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
  position: relative;
}
.section-plans__description {
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.section-plans__buttons {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 45px;
  position: relative;
}
.section-plans__button {
  border-radius: 22px 0 0 22px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}

.section-plans__buttons2  {display: none;
}




.section-plans__button--secondary {
  border-radius: 0 22px 22px 0;
}
.section-plans__button:hover {
  background-color:  #fff;
  color: #67B3A5;
}
.plan-cards__content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  position: relative;
}
.plan-card {
  border: 1px solid #fff;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: transparent;
  flex: 1;
  padding:20px;
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.plan-card:hover {
  box-shadow: 0 4px 20px 10px rgba(41, 97, 171, 0.5);
}

.plan-card__title-wrapper {
  display: flex;
  justify-content: space-between;
}
.plan-card__title {
  flex-basis: 50%;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-align: left;
}
.plan-card__price {
  flex-basis: 50%;
  font-weight: 700;
  font-size: 56px;
  line-height: 1;

  text-align: right;
}
.plan-card__description {
  max-width: 66%;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-top: -10px;
}
.plan-card__list__title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
.plan-card__list {
  margin-bottom: 16px;
  list-style-type: none;
}
.plan-card__item {
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  text-align: left;
  position: relative;
}

.plan-card__button {
  text-decoration: none;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 24px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-top:auto;
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.plan-card__button:hover {
  background: #67B3A5;
  color:  #fff;
}





@media (max-width: 1024px) {
/*БУРГЕР И НАВИГАЦИЯ*/

  .header__logo-img-mobile{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 99;

    padding-top: 100px;



    transition: left 0.3s ease-in-out;
    margin-left: 0;
    padding-left: 20px;
  }


  .header__logo-img-mobile.active {
    display:inline-block;
    left: 0;

    padding-top: 30px;
    padding-bottom: 30px;
  }


  .header {
    padding: 0;
  }
  .header__burger {
    display: block;
  }
  .header__burger-icon {
    border: transparent;
    background: transparent;
    display: none;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    content: "";

  }

  path{
    transition: transform 0.25s;
  }
  .active path:nth-of-type(1){
    transform: rotate(45deg);
    transform-origin: -1px 3px;
    fill: rgb(0, 0, 0)
  }
  .active path:nth-of-type(2){
    display: none;
    fill: rgb(0, 0, 0)
  }
  .active path:nth-of-type(3){
    transform: rotate(-45deg);
    transform-origin: 0px 13px;
    fill: rgb(0, 0, 0)
  }

  .header__burger{
    display: flex;
    z-index: 99;
  }
  .header__burger-icon {

    display: inline-block;
  }



  .header__buttons{
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    padding-top: 200px;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    transition: left 0.3s ease-in-out;
    margin-left: 0;
    padding-left: 20px;
  }

  .header__nav-link {

    color: #000000;
  }

.header__burger.active {
  position: fixed;
  right: 20px;
}

  .header__nav.active {
    left: 0;

  }

  .header__buttons.active {
    padding: 100px 20px 0;
    left: 0;

  }

  .header__buttons.active .header__nav-text {

    width: 100%;
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .header__buttons.active .header__button {
    border: 1px solid #67B3A5;
    border-radius: 27px;
    padding: 8px 20px;
    color: #67B3A5;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
  }

  .header__buttons.active .header__button:hover {
    background-color: #67B3A5;
    color:  #fff;
  }




  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
  }
  /*СЕКЦИЯ HERO*/
  .hero {
    padding: 130px 0px 75px;
     }
  .hero__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .hero__buttons {
    gap: 10px;
  }
  .hero__button {
    line-height: 1.5;
    padding: 17px 26px;
    font-size: 16px;
  }

  /*СЕКЦИЯ HERO*/


  /*СЕКЦИЯ INSERT*/
  .section-insert {
    padding: 64px 0px;
  }
  .section-insert__content {
    display: block;
  }
  .section-white {
    border-radius: 16px;
    margin-top: -16px;
    margin-bottom: -16px;
  }
  .section-insert__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
  }
  .section-insert__description {
    font-size: 16px;
    text-align: left;
  }
  /*СЕКЦИЯ INSERT*/

  /*СЕКЦИЯ ABOUT*/
  .section-about__title {
    font-size: 24px;
    margin-bottom: 28px;
  }
  .cards__content {
    display: block;
  }
  .card {
    padding: 0px 5px 40px;
  }
  .card__title {
    font-size: 20px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
  /*СЕКЦИЯ ABOUT*/

  /*СЕКЦИЯ STEPS*/
  .section-steps{
    padding: 64px 0px 64px;
  }
  .section-steps__title {
    line-height: 1.2;
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .section-steps__description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 48px;
  }
  .card__image {
    line-height: 1;
  }
  .card__text--second {
    margin-bottom: 0px;
  }
  .section-steps__buttons {
    margin-top: 0px;
  }

  /*СЕКЦИЯ STEPS*/

  /*СЕКЦИЯ PRISING*/

  .pricing-dots {
    align-items: center;
    display: flex;
  }
  .section-pricing{
    padding: 13px 0px 58px;
   }

  .section-pricing__title {

    font-size: 36px;

    margin-top: 12px;
    margin-bottom: 20px;
  }
  .section-pricing__description {
    font-weight: 400;

    font-size: 16px;
  }
  .section-pricing__buttons {

    margin-top: 15px;

    margin-bottom: 45px;
  }


  .pricing-cards__content {
    display: block;
    justify-content: space-between;
    gap: 32px;
  }


  .pricing-card__1, .pricing-card__2 {
    display: none;
  }




  .pricing-card {
    border-radius: 15px;

    padding:19px 24px;

  }
  .pricing-card:hover {
    box-shadow: 0 4px 20px 10px rgba(41, 97, 171, 0.5);
  }
  .pricing-card__title {
    font-weight: 700;
    font-size: 10px;
  }
  .pricing-card__price {

    font-size: 36px;
    line-height: 1.2;

    margin-bottom:24px;
    margin-top: 8px;
  }
  .pricing-card__list {
    margin: auto;
    margin-bottom: 10px;
    list-style-type: none;
  }
  .pricing-card__item {
    padding-left: 40px;
    font-weight: 400;
    font-size: 10px;

    margin-bottom: 10px;

  }
  .pricing-card__button {
    margin-top: 20px;
  }

  .pricing-card__item:before {
    top: -5px;
    left: 0;

    width: 24px;
    height: 24px;
  }


  /*СЕКЦИЯ PRISING*/
  /*СЕКЦИЯ QUESTION*/

  .section-question {

    padding: 55px 0px 55px;

  }
  .section-question__content {
    display: block;

  }

  .section-question__title {
    font-size: 36px;
  }

  .section-question__text-block {
    flex-basis: 50%;
    text-align: center;
  }

  .section-question__description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .section-question__img-block {
    text-align: center;


  }
  .section-question__img {
    border-radius: 15px;

  }
  .section-question__buttons {

    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 48px;
  }
  .section-question__button {
    border-radius: 27px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
  }
  .section-question__button:hover {
    background-color: #fff;
    color: #2961AB;
  }


  /*FOOTER*/
  .footer {
    margin-top: -15px;
    border-radius: 15px 15px 0 0;
    padding: 30px 0 30px;

  }

  .footer__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }


  .footer__top {
    display: block;

  }



  .footer__brand-title {

    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer__brand-text {
    font-weight: 400;

  }
  .footer__buttons {
    justify-content: flex-start;
    margin-top: 24px;
    margin-bottom: 48px;
  }






  .footer__link {

    font-size: 14px;

  }

  .footer__link:hover {
    color: #0d6efd;
  }


  .footer__social {
    display: flex;

    margin-top: 32px;


    justify-content: space-between;
  }

  .footer__social li {
    display: inline-block;
  }



  .footer__social-icon {
    width: 24px;
    height: 24px;
    transition: filter 0.3s ease;
  }

  .footer__social-icon:hover {
    filter: invert(42%) sepia(67%) saturate(658%) hue-rotate(180deg) brightness(85%) contrast(92%);
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: #666;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer__policy-link {
    text-decoration: none;
    color: #666;
    transition: color 0.3s;
  }

  .footer__policy-link:hover {
    color: #0d6efd;
  }

  /*Slider*/
  .slider-texts p {
    margin-left: 0;
    font-size: 16px;
  }
  .slider-container {
    border-radius: 58px;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .slider-images {
    flex-direction: row;
   /* overflow-x: scroll;*/
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slider-images img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .slider-texts {
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
  }

  .dots {
    right: 44%;
    top: 102%;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  /*Registration*/
  /*Секция Registration*/
  .section-registration {


    padding: 120px 0px 116px;

  }
  .section-registration__text-block {
    max-width: 100%;
    flex-basis: 100%;
    align-items: center;
  }
  .section-registration__img-block {
    display: none;
  }
  .section-registration__warning {
    display: none;
  }
  .registration__form {
    flex-direction: column;
    align-items: stretch;
    min-width: 335px;
  }
  .registration__input {
    text-align: center;
    border-radius: 25px;
    margin-bottom: 47px;
  }
  .registration__button {
    margin-left: 0;
  }
  .registration__policy {
    font-size: 10px;
    margin-top: -85px;
  }
  /*Секция PROTECT*/

  .section-protect {
    background: url('./img/bg_protect.jpg') no-repeat top right;
    background-size: cover;
    text-align: center;
    padding: 114px 0px 90px;
    position: relative;
    color: #fff;
  }

  .section-protect__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-protect__text-block {
    margin-top: 0;
    z-index: 1;
    position: relative;
    flex-basis: 100%;
  }

  .section-protect__img-block {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    flex-basis: 35%;
  }

  .section-protect__title {

    text-align: left;
    font-size: 40px;

    margin-bottom: 20px;
  }
  .section-protect__title b{
    color: #67B3A5;
  }
  .section-protect__description {

    font-size: 16px;
    text-align: left;
  }
  /*Секция PROTECT*/
  /*Секция registration question*/
  .registration .container.section-question__content.section-question__content--blue-bg
  {
    padding-left: 0;
    display: flex  ;
    flex-direction: column;
  }
  .registration .section-question__img-block {
    order: 1;
  }
  .registration .section-question__text-block {
    order: 2;
    padding: 12px;
    text-align: left;
  }
  .registration .section-question__button {
    width: 100%;
    text-align: center;
  }

  /*СТРАНИЦА SERVICES*/


  /*СЕКЦИЯ INSERT-SERVICES*/
  .section-insert-services {
    border-radius: 15px;

    padding: 48px 0;

  }
  .section-insert-services__content {
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
  }
  .section-insert-services__text-block {
    flex-basis: 100%;
    padding: 0 ;
  }
  .section-insert-services__img-block {
    display: none;
  }


  .section-insert-services__title {
    font-weight: 700;
    font-size: 32px;
  }

  .section-insert-services__subtitle {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .section-insert-services__description-wrapper {
    display: block;

    gap: 0;
  }

  .section-insert-services__description-wrapper h4 {

    font-size: 18px;

    margin-bottom: 16px;
    margin-top: 24px;

  }


  /*СЕКЦИЯ INSERT-SERVICES*/
  /*СЕКЦИЯ EXPERT-DOCUMENT*/
  .section-expert-document {

    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-expert-document__block {
    background: url("img/bg_expert-document.jpg");
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);

  }
  .section-expert-document__title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .section-expert-document__description {
    font-size: 14px;

  }


  /*СЕКЦИЯ INSERT-SERVICES-BOTTOM*/


  .section-insert-services-bottom {
    z-index: 99;
    position: relative;
    padding: 64px 0;
    border-radius: 15px;

  }
  .section-insert-services-bottom__content {
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
  }

  .section-insert-services-bottom__text-block {
    flex-basis: 100%;
    padding: 0 0px;
  }
  .section-insert-services-bottom__img-block {
    display: none;
  }


  .section-insert-services-bottom__title {
    font-size: 32px;
    text-align: left;
  }
  .section-insert-services-bottom__title b {
    color: #67B3A5;
  }
  .section-insert-services-bottom__description {

    font-size: 16px;

    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
  }
  /*СЕКЦИЯ INSERT-SERVICES-BOTTOM*/


  /*СЕКЦИЯ PLANS*/
  .section-plans{

    padding: 33px 0px 33px;

  }


  .section-plans__sub-title {

    font-size: 16px;
    position: relative;

  }
  .section-plans__title {

    font-size: 36px;

    margin-top: 12px;
    margin-bottom: 20px;

  }
  .section-plans__description {

    font-size: 16px;

  }






  .plan-card__title {

    font-size: 20px;

  }
  .plan-card__price {

    font-size: 40px;

  }
  .plan-card__description {

    font-size: 13px;

  }
  .plan-card__list__title {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 14px;

  }
  .plan-card__list {
    margin-bottom: 16px;
    list-style-type: none;
  }
  .plan-card__item {

    font-size: 10px;
    margin-bottom: 19px;

  }
  .section-plans__buttons2 {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    position: relative;
  }
  .section-plans__button2 {
    border-radius: 22px 0 0 22px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
  }
  .hidden {
    display: none;
  }
  .active-button {
    background-color: #fff;
    color: #2961AB;
  }

  .section-plans__button2.section-plans__button--primary {
    border-radius: 0;
  }

  .section-plans__button2.section-plans__button--secondary {
    border-radius: 0 22px 22px 0;
  }
  .plan-cards__content {
    justify-content: center;
  }
  .plan-card {
    max-width: 500px;
  }
  .section-plans__buttons {display: none}














}




@media (max-width: 768px) {

}

@media (max-width: 414px) {
  .section-protect__img-block {

    top: 40px;
  }

  .section-protect .section-protect__img-block {
    width: 60%;
  }
  .section-protect .section-protect__img-block svg {
    width: 100%;
  }
  .registration__form {
    width: 100%;
  }
}
/*
@media (max-width: 375px) {


}*/